<div class="form-control">
  <div id="cont" data-pct="100">
    <svg id="svg" width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <circle r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
      <circle id="bar" r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
    </svg>
  </div>
  <div class="brain__counter__numbers grid">
    {{duration}}
  </div>
</div>
<div class="brain__right">
  <div class="brain__container">
    <p>Select task to work on:</p>
    <select class="brain__dropdown" onchange={{action "selectTask" value="target.value"}}>
      {{#each tasks as |task index|}}
        <option value={{index}} selected={{eq task.name 'test'}}>{{task.name}}</option>
      {{/each}}
    </select>
    <p>Select time to complite:</p>
    {{input type="input" class="brain__input" value=setTime}}
    <!-- <input class="brain__input" type="time" name="name" value={{setTime}}> -->
    <button type="submit" class="btn btn-sm btn-default" {{action "start"}}>Start task:</button>
  </div>
</div>


{{yield}}
