<div class="brain_login">
  <div class="brain__card">
    <div class="card__dimension_20">
      <h1>Login</h1>
    </div>
    <div class="card__dimension_80">
      <form class="brain__form" {{action 'authenticate' on="submit"}}>
        <div class="brain__group">
          <label class="brain__label" for="identification">Email</label>
          {{input value=changeset.email.value placeholder='Enter Login' class="brain__input"}}
          {{#unless changeset.email.isValid}}
            {{#each changeset.email.errors as |error|}}
              <p>{{error}}</p>
            {{/each}}
          {{/unless}}
        </div>
        <div class="brain__group">
          <label class="brain__label" for="password"> Password</label>
          {{input value=changeset.password.value placeholder="Enter Password" class="brain__input" type='password'}}
          {{#unless changeset.password.isValid}}
            {{#each changeset.password.errors as |error|}}
              <p>{{error}}</p>
            {{/each}}
          {{/unless}}
        </div>
        <div class="brain__group">
          <button type="submit" class="btn">Login</button>
        </div>
          {{#if errors}}
          <div class="brain__group">
            <strong>Login failed:</strong>
            {{#each errors as |error|}}
              <p>
                <b>{{error.title}}</b> <br/>
                <i>{{error.message}}</i> <br/>
                <a href="{{error.link}}">Register</a>
              </p>
            {{/each}}
          </div>
        {{/if}}
      </form>
    </div>
  </div>
</div>
