<div class="brain_login">
  <div class="brain__design">
    <div class="height-dimension-20">
      <h1>Login</h1>
    </div>
    <div class="height-dimension-80">
      <form class="form-control" {{action 'authenticate' on="submit"}}>
        <div class="form-control">
          <label for="identification">Email address:</label>
          {{input value=changeset.email.value placeholder='Enter Login' class="brain__input"}}
          {{#unless changeset.email.isValid}}
            {{#each changeset.email.errors as |error|}}
              <p>{{error}}</p>
            {{/each}}
          {{/unless}}
        </div>
        <div class="form-control">
          <label for="password"> Password</label>
          {{input value=changeset.password.value placeholder="Enter Password" class="brain__input" type='password'}}
          {{#unless changeset.password.isValid}}
            {{#each changeset.password.errors as |error|}}
              <p>{{error}}</p>
            {{/each}}
          {{/unless}}
        </div>
        <div class="form-control">
          <button type="submit" class="btn">Login</button>
        </div>
          {{#if errors}}
          <div class="form-control">
            <strong>Login failed:</strong>
            {{#each errors as |error|}}
              <p>
                <b>{{error.title}}</b> <br/>
                <i>{{error.message}}</i> <br/>
                <a href="{{error.link}}">Register</a>
              </p>
            {{/each}}
          </div>
        {{/if}}
      </form>
    </div>
  </div>
</div>
