<div class="brain__card">
  <div class="card__header">
    <h1>Login</h1>
  </div>
  <div class="card__body">
    <form {{action 'authenticate' on="submit"}}>
      <label for="identification">Login</label>
      {{input value=identification placeholder='Enter Login' class="brain__input"}}
      <br>
      <label for="password"> Password</label>
      {{input value=password placeholder="Enter Password" class="brain__input" type='password'}}
      <button type="submit" class="btn">Login</button>

      {{#if error}}
      <p>
        <strong>Login failed:</strong>
        <code>{{error}}</code>
      </p>
      {{/if}}
    </form>
  </div>
</div>


{{outlet}}
