{{changeEmotion}}
{{updatedMessage}}
<svg {{action 'iconClick' }}id="chart-moti" height="100" width="100"></svg>

<div class="panel show-chat">
  <div class="panel__header">
    Conversations
  </div>
  <div class="panel__body pb-30">
      <ul class="chat__messsages">
        {{#each messages as |msg|}}
          <li class="{{msg.type}}">{{msg.message}}</li>
        {{/each}}
      </ul>
  </div>
  <div class="panel__footer">
    <div class="bot-chat">
      <input onkeyup={{action "sendMessage"}} type="text" name="name" placeholder="Ask question?">
    </div>
  </div>
</div>
{{yield}}
