<div class="calender__header">
  <div class="calender__left">
    {{#unless hiddeLeftPannel}}
    <button type="button" class="btn btn-sm btn-default">Days</button>
    <button type="button" class="btn btn-sm btn-default">Weekend</button>
    <button type="button" class="btn btn-sm btn-default">Month</button>
    {{/unless}}
  </div>
  <div class="calender__center">
    <h1 style="text-align:center;">{{year}}({{monthName}})</h1>
  </div>
  <div class="calender__right">
    {{#unless hiddeRightPannel}}
    <button {{action 'changeDate' -1}} type="button" class="btn btn-sm btn-default">prev</button>
    <button {{action 'changeDate' 1}} type="button" class="btn btn-sm btn-default">next</button>
    {{/unless}}
  </div>
</div>
<div class="calender__body">
  <div class="calender__table">
    <div class="calender__table__header">
      <div class="calender__row">
        {{#each days as |day| }}
          <div class="calender__col">{{day}}</div>
        {{/each}}
      </div>
    </div>
    <div class="calender__table__body">
      {{#each daysInMonth as |day index| }}
        <!-- {{odd tasks day}}  {{odd tasks day}}-->
        <div {{action 'showModal' day}} class="calender__col {{odd tasks day}}">{{eq day 0 '' day}}</div>
      {{/each}}
    </div>
  </div>
</div>



{{yield}}
