<div class="calender__header grid ma-20">
  <div class="calender__left">
    {{#unless hiddeLeftPannel}}
      <button {{action 'changeType' 'day'}}type="button" class="btn btn-sm btn-default">Days</button>
      <button {{action 'changeType' 'week'}}type="button" class="btn btn-sm btn-default">Weekend</button>
      <button {{action 'changeType' 'month'}}type="button" class="btn btn-sm btn-default">Month</button>
    {{/unless}}
  </div>
  <div class="calender__center">
    <h1 style="text-align:center;">{{year}}({{monthName}})</h1>
  </div>
  <div class="calender__right">
    {{#unless hiddeRightPannel}}
      <button {{action 'changeDate' -1}} type="button" class="btn btn-sm btn-default">prev</button>
      <button {{action 'changeDate' 1}} type="button" class="btn btn-sm btn-default">next</button>
    {{/unless}}
  </div>
</div>


{{#liquid-if (eq type 'month') class="toLeft-demo"}}
  {{calender-app/calender-month
    year=year
    month=month
    tasks=tasks
    showModal="showModal"
  }}
{{/liquid-if}}

{{#liquid-if (eq type 'day') class="toLeft-demo"}}
  {{calender-app/calender-day
    year=year
    month=month
    tasks=tasks
    showModal="showModal"
  }}
{{/liquid-if}}

{{#liquid-if (eq type 'week') class="toLeft-demo"}}
  {{calender-app/calender-week
    year=year
    month=month
    tasks=tasks
    showModal="showModal"
  }}
{{/liquid-if}}




{{yield}}
