<div class="{{if modal__animate "modal--animate"}} brain__modal">
  <div class="brain__modal__header">
    <h2>{{title}}</h2>
  </div>
  <hr/>
  <div class="brain__modal__body">
    {{yield}}
  </div>
  {{#if control}}
    <footer>
      <button {{action 'complited' true}} type="button" class="brain_model_button">{{success}}</button>
      <button {{action 'complited' false}} type="button" class="brain_model_button">{{failure}}</button>
    </footer>
  {{/if}}
</div>
