<div {{action 'toggleNavigation' on="mouseEnter"}} class="brain__user">
  <img src={{user.image}} alt="{{user.image}}" />
  {{user.image}}
</div>

{{#unless isHidden}}
  <div class="brain__user__nav">
    {{yield}}
  </div>
{{/unless}}
