{{brain-timer tasks=model.user.tasks modal="modal"}}
<div class="brain__card">
  {{#each model as |tt|}}
    {{tt.name}}
  {{/each}}
</div>

{{tasks-graph
  data=model.graph
  options=model.option
  height=model.height
}}

{{manage-task
  tasks=model.user.tasks
  checkTask="checkTask"
}}

{{outlet}}
