<div class="header">
  <div class="brain__logo">
    <h2>Brain</h2>
  </div>
  <header>
      <div class="brain__navigation">
        {{#if session.isAuthenticated}}
        {{#user-conf user=model.user}}
          {{#link-to "user" class="btn"}} {{fa-icon "user"}} User {{/link-to}}
          {{#link-to "messages" class="btn"}} {{fa-icon "comments"}} Messages {{/link-to}}
          <a href="#" class="btn" {{action 'logout'}}>Logout</a>
        {{/user-conf}}
        {{else}}
          <div class="brain__navigation__component">
            {{#link-to "login" class="btn"}} Log in {{/link-to}}
            {{#link-to "register" class="btn"}} Register {{/link-to}}
          </div>
        {{/if}}
      </div>
  </header>
</div>

<div class="app">
  {{#if session.isAuthenticated}}
    <div class="left">
      <ul class="brain__nav">
        <li>
          {{#link-to "home" class="brain__links"}}
             {{fa-icon "home"}} Home
          {{/link-to}}
        </li>
        <li>
          {{#link-to "tasks" class="brain__links"}}
             {{fa-icon "tasks"}} Tasks
          {{/link-to}}
        </li>
        <!-- <li>
          {{#link-to "morning" class="brain__links"}}
             {{fa-icon "coffee"}} Morning
          {{/link-to}}
        </li> -->
        <li>
          {{#link-to "calender" class="brain__links"}}
             {{fa-icon "calendar"}} Calender
          {{/link-to}}
        </li>
        <li>
          {{#link-to "graph" class="brain__links"}}
             {{fa-icon "line-chart"}} Graph
          {{/link-to}}
        </li>
      </ul>
    </div>
    <div class="main">
      {{liquid-outlet class="brain__main"}}
    </div>
  {{else}}
    {{outlet}}
  {{/if}}
</div>
<!-- <button {{action 'openModal' 'modal' 'test'}}>Open modal</button> -->
<!-- <button {{action 'openModal' 'modal.welcome' 'test'}}>Open welcome</button> -->
{{outlet 'modal'}}
<!-- {{#if showModal}}
  {{brain-modal complited="complited"}}
{{/if}} -->
