<div class="card__graph_20">
  <div class="brain__box">
    <select class="brain__dropdown" onchange={{action "selectGraph" value="target.value"}}>
      {{#each tasks as |task index|}}
      <option value={{index}} selected={{eq task.name 'test'}}>{{task.name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="brain__box">
    <button {{action "getMonth" 'left'}} type="button" class="btn">Next</button>
    <button {{action "getMonth" 'right'}} type="button" class="btn">Prev</button>
  </div>
</div>
<div class="card__graph_80">
{{#if normal}}
  {{ember-chart type='Line' data=normal options=options height=500}}
{{/if}}
</div>
{{yield}}
