<div class="content__card brain__design">
  <div class="card__dimension_20">
    <h2>User content:</h2>
  </div>
  <div class="card__user">
    <label class="brain__label" for="name">Name:</label>
    <input class="brain__input" type="text" name="name" value={{model.name}}>
    <label class="brain__label" for="name">Username:</label>
    <input class="brain__input" type="text" name="name" value={{model.username}}>
    <label class="brain__label" for="name">Image:</label>
    <div class="brain__user__picture">
      <img src={{model.image}} alt="" />
    </div>
    <div class="brain_all">
      <input type="file" name="name" value="">
    </div>
    <br/>
    <div class="brain__membership">
      <div {{action 'changePrice' 'basic'}} class="brain__price {{if (eq model.plan 'basic') 'active-plan' 'default'}}">
        <h2>Basic</h2>
        <hr/>
        <money>0 <currency>$</currency></money>
      </div>
      <div {{action 'changePrice' 'premium'}} class="brain__price {{if (eq model.plan 'premium') 'active-plan' 'default'}}">
        <h2>Premium / Monthly</h2>
        <hr/>
        <money>7 <currency>$</currency></money>
      </div>
      <!-- <div class="brain__premium">
        <h2>Premium / Yearly</h2>
        <hr/>
        <money>60 <currency>$</currency></money>
      </div> -->
    </div>
    <div class="brain_all">
      <button type="button" class="btn">Button</button>
    </div>
  </div>
</div>
