<div class="card__dimension_20">
  <h2>All user Tasks</h2>
</div>
<div class="card__dimension_80">
  <ul class="manage__tasks__list">
    {{#each tasks as |task index|}}
      <li>
        <div class="task__text">
          <p>{{task.name}}</p>
          <small>{{showDates task.schedule}}</small>
        </div>
        <div class="task__checkbox">
          {{brain-checkbox task=task toggleTask="toggleTask"}}
          <!-- {{task.complited}} -->
        </div>
      </li>
    {{/each}}
  </ul>
  <hr/>
  <div style="text-align: center;">
    <h2>{{areComplited}}</h2>
  </div>
</div>
{{yield}}
