<div class="form-control">
  <h2>Create new tasks to work on.</h2>
</div>
<div class="form-control">
  <label for="">Name:</label>
  {{input value=name placeholder="New task" class="brain__input"}}
</div>
<div class="form-control">
  <label for="">Time:</label>
  {{input value=time type="time" placeholder="New time" class="brain__input"}}
</div>
<br>
<div class="form-control">
  <label for="">Working dates:</label>
  <div class="row">
    {{#each dates as |day index| }}
    <div class="col">
      <div class="checkbox checkbox__update">
        {{input id=(concat index) type="checkbox" name="name" checked=day.schedule}}
        <label for="{{index}}"></label>
        <p>{{day.name}}</p>
      </div>
    </div>
    {{/each}}
  </div>
</div>
<div class="form-control">
  <button {{action "createNewTask" name time}} class="btn"> Create </button>
</div>

<div class="form-control">
  <p>
    Saving data to server + showing an animation
  </p>
</div>
{{yield}}
